

#old-image{
    width: 500px;
    position: absolute;
}
#new-image{
    position: relative;
    width: 253px;
    top: 14px;
    left: 192px;
    height: 312px;
    border-radius: 0 10px 0 0 ;
    
}